<!DOCTYPE html>
<html ng-app="sps">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

	<!---<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>-->
	<script type="text/javascript" src="js/jquery.js"></script>	
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/sps.js"></script>
	<link rel="stylesheet" type="text/css" href="css/sps.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<title>Insert title here</title>
</head>
<body ng-controller="game">
	<br>
	<div class="container">
		Player Name <input type="text" ng-model="playerName"><br>
		<!-- <button class="btn" ng-click="addPlayer()">Add Player</button><br><br> -->
		<div><h2>{{playerName}}</h2></div>
		
		<div class="btn-group">
			<button class="btn" ng-click="option(1)">Scissor</button>
			<button class="btn" ng-click="option(2)">Paper</button>
			<button class="btn" ng-click="option(3)">Rock</button>

		</div>
		<div>
			<h4>Computer Choice :  {{computer}}</h4>
			<h4>Your choice :  {{userChoice}}</h4>
			<div><h1> Result : {{result}}</h1></div>
		</div>
	</div>
</body>
</html>